* {
    box-sizing: border-box;
    padding: 0;
    margin:0;

}


nav {    
    display: flex;
    justify-content: space-around;
    align-items: center;  
    min-height: 5vh;
    position: sticky;
    top: 0;
    z-index: 350;
    background: white;
    
     
    }
    
    .navbar {
        display: flex;
        list-style-type: none;
        background-color: white;
        width: 80%;
        justify-content: space-evenly;
        padding: 0;
       
    }
    
    
    body {
        background-color: white;
        overflow-x: hidden;
    }
    
        
    .a {
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: bold;
        color: #181818;
        
    }
    
    .burger {
        display: none;
        cursor: pointer;
    }
    
    .burger div {
        width: 25px;
        height: 2px;
        background-color: #181818;
        margin: 5px;
    }
    
    
    
    @media screen and (max-width: 900px) {
        .navbar {
            position: fixed;
            right: 0px;
            height: 92vh;
            top: 10.1vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            transform: translateX(100%); 
            transition: transform 0.5s ease-in;
            background-color: white;
            padding-left: 0;
            margin-left: 0;
            z-index: 300;
            
        }
    
        .navItem {
            opacity: 0;
            
        }
    
        nav {
            z-index: 400;
        }
    
       .a {
           font-size: 20px;
           
       }
    
        .burger {
            display: block;
            
            
        }
    
    }
    
    .nav-active {
        transform: translateX(0%);
    }
    
    
    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(50px);
        }
    }



    .banner {
        width: 100vw;
        height: 50vh;
    background-image: url("spots.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    opacity: 50%;
    }

    .content {
        margin: 10vw;
    }

    h1, h2 {
        font-family: Helvetica;
        padding-bottom: 20px;
        color: #313639;
    }

    .meditate {
        font: 20px Helvetica;;
        list-style-type: none;
        line-height: 2;
        color: #313639;
    }

    @media screen and (max-width: 700px) {
        .meditate{
            font: 16px Helvetica;;
            list-style-type: none;
            line-height: 2;
            color: #313639;
        }

    }

   .intLink {
       text-decoration: underline;
       color: #313639;
       cursor: pointer;
   }

    .list {
        font: 18px Helvetica;
        line-height: 2;
        margin: 20px;
        color: #313639;
    }

    @media screen and (max-width: 700px) {
        .list{
            font: 16px Helvetica;
            line-height: 2;
            color: #313639;
        }
    }

    .one {
        width: 100vw;
        height: 600px;
       background-image: url(med.png);
     background-size: cover;
    margin: 0;
    
    }

       
    .example {
        text-indent: 20px;
        list-style-type: none;
        color: #313639;
    }

    .bodyScan {
        text-decoration: underline;
        cursor: pointer;
        color: #313639;
        font: 18px Helvetica;
        line-height: 1.5;
    }
  
    @media screen and (max-width: 700px) {
        .bodyScan {
            font: 16px Helvetica;
            line-height: 2;
            color: #313639;
            line-height: 1.5;
        }
    }

    .footer {
        font-size: 12px;
        color: #313639;
    }

    @media screen and (max-width: 700px) {
        .footer {
            font-size: 12px;
            color: #313639;
            
        }

    }